.memoItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .selectButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      border: none;
      cursor: pointer;
      background-color: #fff;

      .memo {
        &Title {
          font-size: 16px;
          color: #666;
        }
        &Text {
          color: #888;
        }
        &Registed {
          font-size: 12px;
          color: #ccc;
        }
      }
    }
  }

  .deleteButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
